@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.outfit-thin {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.name {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: center;
}
  

* {
    margin: 0;
    padding: 0;
    scrollbar-color: inherit;
}

.layout {
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

header {
    padding: 2rem;
    display: flex;
    width: 100%;
    line-height: 24px;
    justify-content: right;
    align-items: center;
    position: relative;
}
.tabs {
    font-family:  "Outfit", serif;
    display: flex;
    gap: 2rem;
    font-size: 18px;
}

h1 {
    font-size: 44px;
    font-weight: 550;
} 

.where {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.616);
    text-align: center;
}

.content {
    color: rgb(196, 195, 195);
    font-family: "Playfair" ;
    text-align: center;
}

/* Button Style*/
.mail {
    display:flex ;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn
{
    position: relative;
    width: 200px;
    height: 50px;
    background: rgba(255,255,255,0.1);
    border-radius:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top:0.5px solid rgba(255,255,255,0.35);
    border-left:0.5px solid rgba(255,255,255,0.35);
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
}
.btn:hover
{
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255,255,255,1);
}
.btn span
{
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5em;
}
.btn:hover span
{
    left: calc(100% - 45px);
}
.btn:after
{
    content: '';
    position: absolute;
    width: 80px;
    height:100%;
    z-index: 1;
    background: rgba(255,255,255,0.25);
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}
.btn:hover:after{
    transform: translateX(170px) skewX(30deg);
}
