@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.outfit-thin {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.name {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: center;
}
  

* {
    margin: 0;
    padding: 0;
    scrollbar-color: inherit;
}

.layout {
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

header {
    padding: 2rem;
    display: flex;
    width: 100%;
    line-height: 24px;
    justify-content: right;
    align-items: center;
    position: relative;
}
.tabs {
    font-family:  "Outfit", serif;
    display: flex;
    gap: 2rem;
    font-size: 18px;
}

h1 {
    font-size: 44px;
    font-weight: 550;
    margin-top: 100px;
} 

.where {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.616);
    text-align: center;
}

.content {
    color: rgb(196, 195, 195);
    font-family: "Playfair" ;
    text-align: center;
}